<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Books main page</title>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <form id = "creationForm">
        title: <input name="title"/>
        <br />
        isbn: <input name="isbn"/>
        <br />
        author: <input name="author"/>
        <br />
        <button type="submit">Add book</button>
    </form>
    <form>
        <h1 >Find book</h1>
        <div>
            <input id="searchField">
            <button id="searchButton">search</button>
        </div>
    </form>
    <h1 >Search Result</h1>
    <table>
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>ISBN</th>
        <th>Author</th>
        </thead>
        <tbody id="searchResult">

        </tbody>
    </table>
    <h1 >All Books</h1>
    <table>
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>ISBN</th>
        <th>Author</th>
        </thead>
        <tbody id="booksTable">
        <tr th:each="book: ${books}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.author}"></td>
            <td><a th:href="@{'/add_to_wishlist/' + ${book.id}}">+</a></td>
        </tbody>
    </table>
    <a href="/books_wishlist"> Books wishlist </a>
    <script>
        $(function(){
            $('#creationForm').submit(function(e){
                e.preventDefault();
                let testtitle = $(this).find('[name=title]').val();
                let testisbn = $(this).find('[name=isbn]').val();
                let testauthor = $(this).find('[name=author]').val();
                console.log(testtitle, testisbn, testauthor);
                $.ajax({
                    type: 'POST',
                    url: '/createBooks',
                    dataType: 'json',
                    data: JSON.stringify({
                        title: testtitle,
                        isbn: testisbn,
                        author: testauthor
                    }),
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('Content-Type', 'application/json')},
                    success: function (response) {
                        let booksTable = $('#booksTable');
                        booksTable.empty();
                        response.forEach(function (BookDto) {
                            console.log(BookDto);
                            booksTable.append('<tr><td>' + BookDto.id + '</tr><td>' + BookDto.title + '</td><td>' + BookDto.isbn + '</td><td>' +
                                BookDto.author +'</td><td><a href="/add_to_wishlist/'+ BookDto.id + '">' +
                                ('Add to wishlist') + '</a> ' +'</td></tr>');
                        })
                    },
                    error: function () {
                        console.log("Error in creating a book!");
                    }
                });
            });
            $('#searchButton').click(function(e){
                e.preventDefault();
                let searchField = $('#searchField').val();
                let searchResult = $('#searchResult');
                searchResult.empty();
                $.ajax({
                    type: 'GET',
                    url: '/searchBooks',
                    data: {searchField: searchField },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader('Content-Type', 'application/json')},
                    success: function (response) {
                        searchResult.empty();
                        response.forEach(function (BookDto) {
                            searchResult.append('<tr><td>' + BookDto.id + '</tr><td>' + BookDto.title + '</td><td>' + BookDto.isbn + '</td><td>' +
                                BookDto.author +'</td><td><a href="/add_to_wishlist/'+BookDto.id + '">' +
                                ('Add to wishlist') + '</a> ' +'</td></tr>');
                        })
                    },
                    error: function () {
                        console.log("Error in searching of the book!");
                    }
                });
            });
        });
    </script>
</body>
</html>